{{define "content"}}
<header>
    New Outline : Defaults
</header>
<div class="container">
    <div class="page">
        <div class="page-pad">
            <div class="">
                <form action="/events/create" method="post" role="form">
                    <fieldset>
                        <legend> Defaults </legend>
                        <div class="form-group">
                            <label for=""> Time: </label>
                            <input type="time" name="time" id="time" value="12:00">
                        </div>
                        <div class="form-group">
                            <label for="venue"> Venue: </label>
                            <input type="text" name="venue" id="venue">
                        </div>
                        <div class="form-group">
                            <label for="salutation"> Salutation: </label>
                            <textarea name="salutation" id="salutation"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="item13">  Refreshment: </label>
                            <select name="item13" id="item13">
                                <option value="true"> assured </option>
                                <option value="false"> no refreshment </option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for=""> Signed: </label>
                            <input type="text" name="signed" id="signed">
                        </div>
                        <div class="form-group">
                            <label for="socialgroup"> Social group: </label>
                            <input type="text" name="socialgroup" id="socialgroup" placeholder="eg. Shepherding Ministry, CCR, PAX Romana, UMaT local ...">
                        </div>
                        <div class="pad">
                            <hr>
                        </div>
                        <div id="eventseries">
                            {{template "eventseries" .}}
                        </div>
                        <div class="pad">
                            <hr>
                        </div>
                        <div class="form-group">
                            <label for="interval"></label>
                            <input type="submit" value="Finish">
                            <input type="submit" value="Skip">
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="pad">
                <hr>
                <p>
                    Social group: eg. Shepherding Ministry, CCR, PAX Romana, UMaT local ...
                </p>
                <p>
                    Event-Series: eg. General meetings or Weekly Bible Studies ...
                </p>
                <hr>
                <p style="font-size: 13pt; font-style: italic;">
                    Say you have a weekly program at 6pm. This is where you provide those informations: like the venue, time ... <br>
                    Anything you typed can be editted now later for each event. 
                </p>
            </div>
        </div>
    </div>
</div>
{{end}}